<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webpack</title>
</head>
<body>
    <div id="app">
      <p v-if="isMorning">上午好！</p>
      <p v-if="isAfternoon">下午好！</p>
      <ul>
        <li v-for="i in 10"> {{i}}</li>
      </ul>
      <!-- <button v-bind:type="bttonType"></button> -->
      <p> {{product1Price | formatPrice}} </p>
      <p> {{product2Price | formatPrice}} </p>
      <p> {{product3Price | formatPrice}} </p>
    </div>
</body>
</html>